# Binaries
UKHASnet-decoder
UKHASnet-decoder.exe

# Temp files
*.swp
*.swo

# Build artefacts
*.d
*.o
*.S
*.so
*.a


# Python binaries
__pycache__/*
*.pyc

# Logs and output
error.log
db.sqlite
test.kml
